<!DOCTYPE html>

{% extends "base.html" %}

{% block title %} Добавить дисциплину {% endblock %}

{% block content %}

<div class="addsubject_title">
    <h2><span class="badge bg-secondary">Форма добавления дисциплин</span></h2>
        <form action="{% url 'add_subject' %}" method="post">{% csrf_token %}

            <span>{{ error_message }}</span>

            {{ form.subject_name }}<br>
            
            {{ form.teacher }}<br>
            
            <label>Кафедра</label>
            {{ form.cathedra }}<br>

            <label>Дата аттестации</label>
            {{ form.att_date }}<br>

            {{ form.comment }}<br>

            <button type="submit" class="btn btn-secondary btn-lg">Добавить</button>    
            
        </form>
</div>

{% endblock %}