<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}
	Обновить дисциплину
{% endblock %}

{% block content %}
	<div class="subject_title">
		<h2>
			Форма обновления дисциплины
		</h2>
		<form action="" method="post">{% csrf_token %}
			{{ form.subject_name }}<br>

			<label>Форма контроля</label>
			{{ form.form_control }}<br>
			
			{{ form.teacher }}

			<label>Кафедра</label>
			{{ form.cathedra }}

			{% for error in form.att_date.errors %} 
			<div class="alert-danger">
				<strong>{{ error|escape }}</strong>
			</div>
			{% endfor %}
			<label>Дата аттестации [дд.мм.гггг]</label>
			{{ form.att_date }}<br>

			{{ form.comment }}<br>
			
			<a href="{% url 'subjects:update_subject' subject.id %}">
				<button type="submit" class="btn btn-secondary btn-lg">Назад</button>
			</a>
			<a href="{% url 'subjects:subjects' %}">
				<button type="submit" class="btn btn-success btn-lg">Обновить</button>
			</a>
			</form>
	</div>
{% endblock %}
