<!DOCTYPE html>

{% extends "base.html" %}

{% block title %}
	Добавить обучающегося
{% endblock %}

{% block content %}
	<div class="student_title">
		<h2>
			Форма добавления обучающегося
		</h2>
		
		<form action="{% url 'students:add_student' %}" method="post">{% csrf_token %}
			{{ form.last_name }}<br>
			{{ form.first_name }}<br>
			{{ form.second_name }}<br>

			{% for error in form.student_id.errors %} 
			<div class="alert-danger">
				<strong>{{ error|escape }}</strong>
			</div>
			{% endfor %}
			{{ form.student_id }}

			<label>Гражданство</label>
			{{ form.citizenship }}

			<label>Основа обучения</label>
			{{ form.basis }}

			<label>Уровень образования</label>
			{{ form.level }}

			<label>Группа</label>
			{{ form.group }}

			{% for error in form.start_date.errors %} 
			<div class="alert-danger">
				<strong>{{ error|escape }}</strong>
			</div>
			{% endfor %}
			<label>Дата зачисления [дд.мм.гггг]</label>
			{{ form.start_date }}

			<label>Текущий статус</label>
			{{ form.status }}<br>

			{{ form.comment }}<br>
			
			<button type="submit" class="btn btn-success btn-lg">Добавить</button>
		</form>
	</div>
{% endblock %}

